.welcome-msg {
    background-color: rgba(255, 255, 255, 0.3);
    position: center;
    width: 100%;
    padding: 10px 80px;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    color: #680F13;
}

.welcome-msg a { color: #680F13; }

.slides_image {
    display: block; 
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.centered-article {
    padding: 15px 120px;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    background-color: white;
}

.bragging { background: white; color: #680F13;}
.bragging p { margin: 0;}

.highlights-article { color: #680F13; }
.highlights-article h1 { font-size: 35px; padding-bottom: 20px;}
.highlights-article h2 { font-size: 20px;}

.highlight {
    display: inline-block;
    overflow: hidden;
    width: 25%;
    margin: 10px;
}
.highlight img { width: 30%;}

.cards { background: #680F13; }

.card {
    display: inline-block;
    margin: 30px;
    padding: 20px 40px;
    max-width: 40%;
    text-align: left;
    background: white;
    color: #680F13;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
    font-size: 20px;
}

.card:hover { border-color: #C4A1A1; }

.cards-h1 { color: white; }