main {
    min-width: 500px;
}

.search-article, .map-article {
    padding-left: 120px;
    padding-right: 120px;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
}
.search-article { padding-top: 60px; padding-bottom: 20px;}
.map-article { padding-top: 20px; padding-bottom: 80px;}

form.search input[type=text] {
    padding: 18px 10px;
    width: 80%;
    border: #680F13 solid 2px;
    color: #680F13;
    font-size: 20px;
    font-family: Verdana, Geneva, sans-serif;
    height: 60px;
}

form.search button {
    float: right;
    padding: 18px 10px;
    width: 20%;
    background: #680F13;
    color: white;
    font-size: 22px;
    border: #680F13 solid 2.5px;
    cursor: pointer;
    height: 60px;
}

.map-section {
    padding: 25px 10px 10px 10px;
    background-color: #680F13;
    width: 100%;
}

#mapId {width: 100%; height: 500px; z-index: 0;}
#mapId a { text-decoration: none;color: #680F13;}

/* Style for smaller screens (less than 800px wide) */
@media screen and (max-width: 845px) {

    /* Hide the text on the search bar */
    form.search button{
        font-size: 0;
    }

    /* Display only the icons on the search bar */
    form.search button .icons {
        font-size: 20px;
    }
}