* { box-sizing: border-box;}

body {
    margin: 0;
    background-color: #EBEDEF;
}

nav.page-bar {
    overflow: hidden;
    background-color: #680F13;
    position: sticky;
    top: 0;
    height: 80px;
    width: 100%;
    z-index: 1;
}
nav.page-bar a { line-height: 80px;}

nav a {
    float: right;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
    transition: font-size .5s linear;
}
nav.page-bar a:hover { background-color: #F3E2E3; color: #680F13;}
nav.page-bar a.active { font-weight: bold; background-color: #371216;}

.logo {
    height: 70px;
    width: 70px;
    margin: 5px 20px;
}

footer {
    width: 100%;
    padding: 45px 60px;
    background-color: white;
    text-align: center;
    color: #680F13;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
}
footer a { color: #680F13; text-decoration: none;}
.our_info { font-size: 10px;}
.our_info a { text-decoration: underline;}
#teapot { width: 45px; height: 40px;}

/* Style for smaller screens (less than 800px wide) */
@media screen and (max-width: 800px) {
    /* Hide the text on the navbar */
    nav.page-bar a{ font-size: 0;}
    /* Display only the icons on the navbar */
    nav.page-bar .icons { font-size: 30px;}
    nav.page-bar .icons { line-height: 80px;}
}
